html,body,#root{
  overflow: hidden;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    margin: 0;
    color: #fff;
    background: transparent;
    --borderRadiusNone: 0;
    --borderRadiusSmall: 2px;
    --borderRadiusMedium: 4px;
    --borderRadiusLarge: 6px;
    --borderRadiusXLarge: 8px;
    --borderRadiusCircular: 10000px;
    --fontSizeBase100: 10px;
    --fontSizeBase200: 12px;
    --fontSizeBase300: 14px;
    --fontSizeBase400: 16px;
    --fontSizeBase500: 20px;
    --fontSizeBase600: 24px;
    --fontSizeHero700: 28px;
    --fontSizeHero800: 32px;
    --fontSizeHero900: 40px;
    --fontSizeHero1000: 68px;
    --lineHeightBase100: 14px;
    --lineHeightBase200: 16px;
    --lineHeightBase300: 20px;
    --lineHeightBase400: 22px;
    --lineHeightBase500: 28px;
    --lineHeightBase600: 32px;
    --lineHeightHero700: 36px;
    --lineHeightHero800: 40px;
    --lineHeightHero900: 52px;
    --lineHeightHero1000: 92px;
    --fontFamilyBase: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system,
      BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    --fontFamilyMonospace: Consolas, 'Courier New', Courier, monospace;
    --fontFamilyNumeric: Bahnschrift, 'Segoe UI',
      'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto,
      'Helvetica Neue', sans-serif;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemibold: 600;
    --fontWeightBold: 700;
    --strokeWidthThin: 1px;
    --strokeWidthThick: 2px;
    --strokeWidthThicker: 3px;
    --strokeWidthThickest: 4px;
    --spacingHorizontalNone: 0;
    --spacingHorizontalXXS: 2px;
    --spacingHorizontalXS: 4px;
    --spacingHorizontalSNudge: 6px;
    --spacingHorizontalS: 8px;
    --spacingHorizontalMNudge: 10px;
    --spacingHorizontalM: 12px;
    --spacingHorizontalL: 16px;
    --spacingHorizontalXL: 20px;
    --spacingHorizontalXXL: 24px;
    --spacingHorizontalXXXL: 32px;
    --spacingVerticalNone: 0;
    --spacingVerticalXXS: 2px;
    --spacingVerticalXS: 4px;
    --spacingVerticalSNudge: 6px;
    --spacingVerticalS: 8px;
    --spacingVerticalMNudge: 10px;
    --spacingVerticalM: 12px;
    --spacingVerticalL: 16px;
    --spacingVerticalXL: 20px;
    --spacingVerticalXXL: 24px;
    --spacingVerticalXXXL: 32px;
    --durationUltraFast: 50ms;
    --durationFaster: 100ms;
    --durationFast: 150ms;
    --durationNormal: 200ms;
    --durationGentle: 250ms;
    --durationSlow: 300ms;
    --durationSlower: 400ms;
    --durationUltraSlow: 500ms;
    --curveAccelerateMax: cubic-bezier(0.9, 0.1, 1, 0.2);
    --curveAccelerateMid: cubic-bezier(1, 0, 1, 1);
    --curveAccelerateMin: cubic-bezier(0.8, 0, 0.78, 1);
    --curveDecelerateMax: cubic-bezier(0.1, 0.9, 0.2, 1);
    --curveDecelerateMid: cubic-bezier(0, 0, 0, 1);
    --curveDecelerateMin: cubic-bezier(0.33, 0, 0.1, 1);
    --curveEasyEaseMax: cubic-bezier(0.8, 0, 0.2, 1);
    --curveEasyEase: cubic-bezier(0.33, 0, 0.67, 1);
    --curveLinear: cubic-bezier(0, 0, 1, 1);
    --colorNeutralForeground1: #ffffff;
    --colorNeutralForeground1Hover: #ffffff;
    --colorNeutralForeground1Pressed: #ffffff;
    --colorNeutralForeground1Selected: #ffffff;
    --colorNeutralForeground2: #d6d6d6;
    --colorNeutralForeground2Hover: #ffffff;
    --colorNeutralForeground2Pressed: #ffffff;
    --colorNeutralForeground2Selected: #ffffff;
    --colorNeutralForeground2BrandHover: #479ef5;
    --colorNeutralForeground2BrandPressed: #2886de;
    --colorNeutralForeground2BrandSelected: #479ef5;
    --colorNeutralForeground3: #adadad;
    --colorNeutralForeground3Hover: #d6d6d6;
    --colorNeutralForeground3Pressed: #d6d6d6;
    --colorNeutralForeground3Selected: #d6d6d6;
    --colorNeutralForeground3BrandHover: #479ef5;
    --colorNeutralForeground3BrandPressed: #2886de;
    --colorNeutralForeground3BrandSelected: #479ef5;
    --colorNeutralForeground4: #999999;
    --colorNeutralForegroundDisabled: #5c5c5c;
    --colorNeutralForegroundInvertedDisabled: rgba(255, 255, 255, 0.4);
    --colorBrandForegroundLink: #479ef5;
    --colorBrandForegroundLinkHover: #62abf5;
    --colorBrandForegroundLinkPressed: #2886de;
    --colorBrandForegroundLinkSelected: #479ef5;
    --colorNeutralForeground2Link: #d6d6d6;
    --colorNeutralForeground2LinkHover: #ffffff;
    --colorNeutralForeground2LinkPressed: #ffffff;
    --colorNeutralForeground2LinkSelected: #ffffff;
    --colorCompoundBrandForeground1: #479ef5;
    --colorCompoundBrandForeground1Hover: #62abf5;
    --colorCompoundBrandForeground1Pressed: #2886de;
    --colorBrandForeground1: #479ef5;
    --colorBrandForeground2: #62abf5;
    --colorBrandForeground2Hover: #96c6fa;
    --colorBrandForeground2Pressed: #ebf3fc;
    --colorNeutralForeground1Static: #242424;
    --colorNeutralForegroundStaticInverted: #ffffff;
    --colorNeutralForegroundInverted: #242424;
    --colorNeutralForegroundInvertedHover: #242424;
    --colorNeutralForegroundInvertedPressed: #242424;
    --colorNeutralForegroundInvertedSelected: #242424;
    --colorNeutralForegroundInverted2: #242424;
    --colorNeutralForegroundOnBrand: #ffffff;
    --colorNeutralForegroundInvertedLink: #ffffff;
    --colorNeutralForegroundInvertedLinkHover: #ffffff;
    --colorNeutralForegroundInvertedLinkPressed: #ffffff;
    --colorNeutralForegroundInvertedLinkSelected: #ffffff;
    --colorBrandForegroundInverted: #0f6cbd;
    --colorBrandForegroundInvertedHover: #115ea3;
    --colorBrandForegroundInvertedPressed: #0f548c;
    --colorBrandForegroundOnLight: #0f6cbd;
    --colorBrandForegroundOnLightHover: #115ea3;
    --colorBrandForegroundOnLightPressed: #0e4775;
    --colorBrandForegroundOnLightSelected: #0f548c;
    --colorNeutralBackground1: #292929;
    --colorNeutralBackground1Hover: #3d3d3d;
    --colorNeutralBackground1Pressed: #1f1f1f;
    --colorNeutralBackground1Selected: #383838;
    --colorNeutralBackground2: #1f1f1f;
    --colorNeutralBackground2Hover: #333333;
    --colorNeutralBackground2Pressed: #141414;
    --colorNeutralBackground2Selected: #2e2e2e;
    --colorNeutralBackground3: #141414;
    --colorNeutralBackground3Hover: #292929;
    --colorNeutralBackground3Pressed: #0a0a0a;
    --colorNeutralBackground3Selected: #242424;
    --colorNeutralBackground4: #0a0a0a;
    --colorNeutralBackground4Hover: #1f1f1f;
    --colorNeutralBackground4Pressed: #000000;
    --colorNeutralBackground4Selected: #1a1a1a;
    --colorNeutralBackground5: #000000;
    --colorNeutralBackground5Hover: #141414;
    --colorNeutralBackground5Pressed: #050505;
    --colorNeutralBackground5Selected: #0f0f0f;
    --colorNeutralBackground6: #333333;
    --colorNeutralBackgroundInverted: #ffffff;
    --colorNeutralBackgroundStatic: #3d3d3d;
    --colorNeutralBackgroundAlpha: rgba(26, 26, 26, 0.5);
    --colorNeutralBackgroundAlpha2: rgba(31, 31, 31, 0.7);
    --colorSubtleBackground: transparent;
    --colorSubtleBackgroundHover: #383838;
    --colorSubtleBackgroundPressed: #2e2e2e;
    --colorSubtleBackgroundSelected: #333333;
    --colorSubtleBackgroundLightAlphaHover: rgba(36, 36, 36, 0.8);
    --colorSubtleBackgroundLightAlphaPressed: rgba(36, 36, 36, 0.5);
    --colorSubtleBackgroundLightAlphaSelected: transparent;
    --colorSubtleBackgroundInverted: transparent;
    --colorSubtleBackgroundInvertedHover: rgba(0, 0, 0, 0.1);
    --colorSubtleBackgroundInvertedPressed: rgba(0, 0, 0, 0.3);
    --colorSubtleBackgroundInvertedSelected: rgba(0, 0, 0, 0.2);
    --colorTransparentBackground: transparent;
    --colorTransparentBackgroundHover: transparent;
    --colorTransparentBackgroundPressed: transparent;
    --colorTransparentBackgroundSelected: transparent;
    --colorNeutralBackgroundDisabled: #141414;
    --colorNeutralBackgroundInvertedDisabled: rgba(255, 255, 255, 0.1);
    --colorNeutralStencil1: #575757;
    --colorNeutralStencil2: #333333;
    --colorNeutralStencil1Alpha: rgba(255, 255, 255, 0.1);
    --colorNeutralStencil2Alpha: rgba(255, 255, 255, 0.05);
    --colorBackgroundOverlay: rgba(0, 0, 0, 0.5);
    --colorScrollbarOverlay: rgba(255, 255, 255, 0.6);
    --colorBrandBackground: #115ea3;
    --colorBrandBackgroundHover: #0f6cbd;
    --colorBrandBackgroundPressed: #0c3b5e;
    --colorBrandBackgroundSelected: #0f548c;
    --colorCompoundBrandBackground: #479ef5;
    --colorCompoundBrandBackgroundHover: #62abf5;
    --colorCompoundBrandBackgroundPressed: #2886de;
    --colorBrandBackgroundStatic: #0f6cbd;
    --colorBrandBackground2: #082338;
    --colorBrandBackground2Hover: #0c3b5e;
    --colorBrandBackground2Pressed: #061724;
    --colorBrandBackground3Static: #0f548c;
    --colorBrandBackground4Static: #0c3b5e;
    --colorBrandBackgroundInverted: #ffffff;
    --colorBrandBackgroundInvertedHover: #ebf3fc;
    --colorBrandBackgroundInvertedPressed: #b4d6fa;
    --colorBrandBackgroundInvertedSelected: #cfe4fa;
    --colorNeutralCardBackground: #333333;
    --colorNeutralCardBackgroundHover: #3d3d3d;
    --colorNeutralCardBackgroundPressed: #2e2e2e;
    --colorNeutralCardBackgroundSelected: #383838;
    --colorNeutralCardBackgroundDisabled: #141414;
    --colorNeutralStrokeAccessible: #adadad;
    --colorNeutralStrokeAccessibleHover: #bdbdbd;
    --colorNeutralStrokeAccessiblePressed: #b3b3b3;
    --colorNeutralStrokeAccessibleSelected: #479ef5;
    --colorNeutralStroke1: #666666;
    --colorNeutralStroke1Hover: #757575;
    --colorNeutralStroke1Pressed: #6b6b6b;
    --colorNeutralStroke1Selected: #707070;
    --colorNeutralStroke2: #525252;
    --colorNeutralStroke3: #3d3d3d;
    --colorNeutralStrokeSubtle: #0a0a0a;
    --colorNeutralStrokeOnBrand: #292929;
    --colorNeutralStrokeOnBrand2: #ffffff;
    --colorNeutralStrokeOnBrand2Hover: #ffffff;
    --colorNeutralStrokeOnBrand2Pressed: #ffffff;
    --colorNeutralStrokeOnBrand2Selected: #ffffff;
    --colorBrandStroke1: #479ef5;
    --colorBrandStroke2: #0e4775;
    --colorBrandStroke2Hover: #0e4775;
    --colorBrandStroke2Pressed: #0a2e4a;
    --colorBrandStroke2Contrast: #0e4775;
    --colorCompoundBrandStroke: #479ef5;
    --colorCompoundBrandStrokeHover: #62abf5;
    --colorCompoundBrandStrokePressed: #2886de;
    --colorNeutralStrokeDisabled: #424242;
    --colorNeutralStrokeInvertedDisabled: rgba(255, 255, 255, 0.4);
    --colorTransparentStroke: transparent;
    --colorTransparentStrokeInteractive: transparent;
    --colorTransparentStrokeDisabled: transparent;
    --colorNeutralStrokeAlpha: rgba(255, 255, 255, 0.1);
    --colorNeutralStrokeAlpha2: rgba(255, 255, 255, 0.2);
    --colorStrokeFocus1: #000000;
    --colorStrokeFocus2: #ffffff;
    --colorNeutralShadowAmbient: rgba(0, 0, 0, 0.24);
    --colorNeutralShadowKey: rgba(0, 0, 0, 0.28);
    --colorNeutralShadowAmbientLighter: rgba(0, 0, 0, 0.12);
    --colorNeutralShadowKeyLighter: rgba(0, 0, 0, 0.14);
    --colorNeutralShadowAmbientDarker: rgba(0, 0, 0, 0.4);
    --colorNeutralShadowKeyDarker: rgba(0, 0, 0, 0.48);
    --colorBrandShadowAmbient: rgba(0, 0, 0, 0.3);
    --colorBrandShadowKey: rgba(0, 0, 0, 0.25);
    --shadow2: 0 0 2px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.28);
    --shadow4: 0 0 2px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.28);
    --shadow8: 0 0 2px rgba(0, 0, 0, 0.24), 0 4px 8px rgba(0, 0, 0, 0.28);
    --shadow16: 0 0 2px rgba(0, 0, 0, 0.24), 0 8px 16px rgba(0, 0, 0, 0.28);
    --shadow28: 0 0 8px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.28);
    --shadow64: 0 0 8px rgba(0, 0, 0, 0.24), 0 32px 64px rgba(0, 0, 0, 0.28);
    --shadow2Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.25);
    --shadow4Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.25);
    --shadow8Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.25);
    --shadow16Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.25);
    --shadow28Brand: 0 0 8px rgba(0, 0, 0, 0.3), 0 14px 28px rgba(0, 0, 0, 0.25);
    --shadow64Brand: 0 0 8px rgba(0, 0, 0, 0.3), 0 32px 64px rgba(0, 0, 0, 0.25);
  }
}
@media (prefers-color-scheme: light) {
  body {
    margin: 0;
    color: #0f0f0f;
    background: transparent;
    --borderRadiusNone: 0;
    --borderRadiusSmall: 2px;
    --borderRadiusMedium: 4px;
    --borderRadiusLarge: 6px;
    --borderRadiusXLarge: 8px;
    --borderRadiusCircular: 10000px;
    --fontSizeBase100: 10px;
    --fontSizeBase200: 12px;
    --fontSizeBase300: 14px;
    --fontSizeBase400: 16px;
    --fontSizeBase500: 20px;
    --fontSizeBase600: 24px;
    --fontSizeHero700: 28px;
    --fontSizeHero800: 32px;
    --fontSizeHero900: 40px;
    --fontSizeHero1000: 68px;
    --lineHeightBase100: 14px;
    --lineHeightBase200: 16px;
    --lineHeightBase300: 20px;
    --lineHeightBase400: 22px;
    --lineHeightBase500: 28px;
    --lineHeightBase600: 32px;
    --lineHeightHero700: 36px;
    --lineHeightHero800: 40px;
    --lineHeightHero900: 52px;
    --lineHeightHero1000: 92px;
    --fontFamilyBase: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system,
      BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    --fontFamilyMonospace: Consolas, 'Courier New', Courier, monospace;
    --fontFamilyNumeric: Bahnschrift, 'Segoe UI',
      'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto,
      'Helvetica Neue', sans-serif;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemibold: 600;
    --fontWeightBold: 700;
    --strokeWidthThin: 1px;
    --strokeWidthThick: 2px;
    --strokeWidthThicker: 3px;
    --strokeWidthThickest: 4px;
    --spacingHorizontalNone: 0;
    --spacingHorizontalXXS: 2px;
    --spacingHorizontalXS: 4px;
    --spacingHorizontalSNudge: 6px;
    --spacingHorizontalS: 8px;
    --spacingHorizontalMNudge: 10px;
    --spacingHorizontalM: 12px;
    --spacingHorizontalL: 16px;
    --spacingHorizontalXL: 20px;
    --spacingHorizontalXXL: 24px;
    --spacingHorizontalXXXL: 32px;
    --spacingVerticalNone: 0;
    --spacingVerticalXXS: 2px;
    --spacingVerticalXS: 4px;
    --spacingVerticalSNudge: 6px;
    --spacingVerticalS: 8px;
    --spacingVerticalMNudge: 10px;
    --spacingVerticalM: 12px;
    --spacingVerticalL: 16px;
    --spacingVerticalXL: 20px;
    --spacingVerticalXXL: 24px;
    --spacingVerticalXXXL: 32px;
    --durationUltraFast: 50ms;
    --durationFaster: 100ms;
    --durationFast: 150ms;
    --durationNormal: 200ms;
    --durationGentle: 250ms;
    --durationSlow: 300ms;
    --durationSlower: 400ms;
    --durationUltraSlow: 500ms;
    --curveAccelerateMax: cubic-bezier(0.9, 0.1, 1, 0.2);
    --curveAccelerateMid: cubic-bezier(1, 0, 1, 1);
    --curveAccelerateMin: cubic-bezier(0.8, 0, 0.78, 1);
    --curveDecelerateMax: cubic-bezier(0.1, 0.9, 0.2, 1);
    --curveDecelerateMid: cubic-bezier(0, 0, 0, 1);
    --curveDecelerateMin: cubic-bezier(0.33, 0, 0.1, 1);
    --curveEasyEaseMax: cubic-bezier(0.8, 0, 0.2, 1);
    --curveEasyEase: cubic-bezier(0.33, 0, 0.67, 1);
    --curveLinear: cubic-bezier(0, 0, 1, 1);
    --colorNeutralForeground1: #242424;
    --colorNeutralForeground1Hover: #242424;
    --colorNeutralForeground1Pressed: #242424;
    --colorNeutralForeground1Selected: #242424;
    --colorNeutralForeground2: #424242;
    --colorNeutralForeground2Hover: #242424;
    --colorNeutralForeground2Pressed: #242424;
    --colorNeutralForeground2Selected: #242424;
    --colorNeutralForeground2BrandHover: #0f6cbd;
    --colorNeutralForeground2BrandPressed: #115ea3;
    --colorNeutralForeground2BrandSelected: #0f6cbd;
    --colorNeutralForeground3: #616161;
    --colorNeutralForeground3Hover: #424242;
    --colorNeutralForeground3Pressed: #424242;
    --colorNeutralForeground3Selected: #424242;
    --colorNeutralForeground3BrandHover: #0f6cbd;
    --colorNeutralForeground3BrandPressed: #115ea3;
    --colorNeutralForeground3BrandSelected: #0f6cbd;
    --colorNeutralForeground4: #707070;
    --colorNeutralForegroundDisabled: #bdbdbd;
    --colorNeutralForegroundInvertedDisabled: rgba(255, 255, 255, 0.4);
    --colorBrandForegroundLink: #115ea3;
    --colorBrandForegroundLinkHover: #0f548c;
    --colorBrandForegroundLinkPressed: #0c3b5e;
    --colorBrandForegroundLinkSelected: #115ea3;
    --colorNeutralForeground2Link: #424242;
    --colorNeutralForeground2LinkHover: #242424;
    --colorNeutralForeground2LinkPressed: #242424;
    --colorNeutralForeground2LinkSelected: #242424;
    --colorCompoundBrandForeground1: #0f6cbd;
    --colorCompoundBrandForeground1Hover: #115ea3;
    --colorCompoundBrandForeground1Pressed: #0f548c;
    --colorBrandForeground1: #0f6cbd;
    --colorBrandForeground2: #115ea3;
    --colorBrandForeground2Hover: #0f548c;
    --colorBrandForeground2Pressed: #0a2e4a;
    --colorNeutralForeground1Static: #242424;
    --colorNeutralForegroundStaticInverted: #ffffff;
    --colorNeutralForegroundInverted: #ffffff;
    --colorNeutralForegroundInvertedHover: #ffffff;
    --colorNeutralForegroundInvertedPressed: #ffffff;
    --colorNeutralForegroundInvertedSelected: #ffffff;
    --colorNeutralForegroundInverted2: #ffffff;
    --colorNeutralForegroundOnBrand: #ffffff;
    --colorNeutralForegroundInvertedLink: #ffffff;
    --colorNeutralForegroundInvertedLinkHover: #ffffff;
    --colorNeutralForegroundInvertedLinkPressed: #ffffff;
    --colorNeutralForegroundInvertedLinkSelected: #ffffff;
    --colorBrandForegroundInverted: #479ef5;
    --colorBrandForegroundInvertedHover: #62abf5;
    --colorBrandForegroundInvertedPressed: #479ef5;
    --colorBrandForegroundOnLight: #0f6cbd;
    --colorBrandForegroundOnLightHover: #115ea3;
    --colorBrandForegroundOnLightPressed: #0e4775;
    --colorBrandForegroundOnLightSelected: #0f548c;
    --colorNeutralBackground1: #ffffff;
    --colorNeutralBackground1Hover: #f5f5f5;
    --colorNeutralBackground1Pressed: #e0e0e0;
    --colorNeutralBackground1Selected: #ebebeb;
    --colorNeutralBackground2: #fafafa;
    --colorNeutralBackground2Hover: #f0f0f0;
    --colorNeutralBackground2Pressed: #dbdbdb;
    --colorNeutralBackground2Selected: #e6e6e6;
    --colorNeutralBackground3: #f5f5f5;
    --colorNeutralBackground3Hover: #ebebeb;
    --colorNeutralBackground3Pressed: #d6d6d6;
    --colorNeutralBackground3Selected: #e0e0e0;
    --colorNeutralBackground4: #f0f0f0;
    --colorNeutralBackground4Hover: #fafafa;
    --colorNeutralBackground4Pressed: #f5f5f5;
    --colorNeutralBackground4Selected: #ffffff;
    --colorNeutralBackground5: #ebebeb;
    --colorNeutralBackground5Hover: #f5f5f5;
    --colorNeutralBackground5Pressed: #f0f0f0;
    --colorNeutralBackground5Selected: #fafafa;
    --colorNeutralBackground6: #e6e6e6;
    --colorNeutralBackgroundInverted: #292929;
    --colorNeutralBackgroundStatic: #333333;
    --colorNeutralBackgroundAlpha: rgba(255, 255, 255, 0.5);
    --colorNeutralBackgroundAlpha2: rgba(255, 255, 255, 0.8);
    --colorSubtleBackground: transparent;
    --colorSubtleBackgroundHover: #f5f5f5;
    --colorSubtleBackgroundPressed: #e0e0e0;
    --colorSubtleBackgroundSelected: #ebebeb;
    --colorSubtleBackgroundLightAlphaHover: rgba(255, 255, 255, 0.7);
    --colorSubtleBackgroundLightAlphaPressed: rgba(255, 255, 255, 0.5);
    --colorSubtleBackgroundLightAlphaSelected: transparent;
    --colorSubtleBackgroundInverted: transparent;
    --colorSubtleBackgroundInvertedHover: rgba(0, 0, 0, 0.1);
    --colorSubtleBackgroundInvertedPressed: rgba(0, 0, 0, 0.3);
    --colorSubtleBackgroundInvertedSelected: rgba(0, 0, 0, 0.2);
    --colorTransparentBackground: transparent;
    --colorTransparentBackgroundHover: transparent;
    --colorTransparentBackgroundPressed: transparent;
    --colorTransparentBackgroundSelected: transparent;
    --colorNeutralBackgroundDisabled: #f0f0f0;
    --colorNeutralBackgroundInvertedDisabled: rgba(255, 255, 255, 0.1);
    --colorNeutralStencil1: #e6e6e6;
    --colorNeutralStencil2: #fafafa;
    --colorNeutralStencil1Alpha: rgba(0, 0, 0, 0.1);
    --colorNeutralStencil2Alpha: rgba(0, 0, 0, 0.05);
    --colorBackgroundOverlay: rgba(0, 0, 0, 0.4);
    --colorScrollbarOverlay: rgba(0, 0, 0, 0.5);
    --colorBrandBackground: #0f6cbd;
    --colorBrandBackgroundHover: #115ea3;
    --colorBrandBackgroundPressed: #0c3b5e;
    --colorBrandBackgroundSelected: #0f548c;
    --colorCompoundBrandBackground: #0f6cbd;
    --colorCompoundBrandBackgroundHover: #115ea3;
    --colorCompoundBrandBackgroundPressed: #0f548c;
    --colorBrandBackgroundStatic: #0f6cbd;
    --colorBrandBackground2: #ebf3fc;
    --colorBrandBackground2Hover: #cfe4fa;
    --colorBrandBackground2Pressed: #96c6fa;
    --colorBrandBackground3Static: #0f548c;
    --colorBrandBackground4Static: #0c3b5e;
    --colorBrandBackgroundInverted: #ffffff;
    --colorBrandBackgroundInvertedHover: #ebf3fc;
    --colorBrandBackgroundInvertedPressed: #b4d6fa;
    --colorBrandBackgroundInvertedSelected: #cfe4fa;
    --colorNeutralCardBackground: #fafafa;
    --colorNeutralCardBackgroundHover: #ffffff;
    --colorNeutralCardBackgroundPressed: #f5f5f5;
    --colorNeutralCardBackgroundSelected: #ebebeb;
    --colorNeutralCardBackgroundDisabled: #f0f0f0;
    --colorNeutralStrokeAccessible: #616161;
    --colorNeutralStrokeAccessibleHover: #575757;
    --colorNeutralStrokeAccessiblePressed: #4d4d4d;
    --colorNeutralStrokeAccessibleSelected: #0f6cbd;
    --colorNeutralStroke1: #d1d1d1;
    --colorNeutralStroke1Hover: #c7c7c7;
    --colorNeutralStroke1Pressed: #b3b3b3;
    --colorNeutralStroke1Selected: #bdbdbd;
    --colorNeutralStroke2: #e0e0e0;
    --colorNeutralStroke3: #f0f0f0;
    --colorNeutralStrokeSubtle: #e0e0e0;
    --colorNeutralStrokeOnBrand: #ffffff;
    --colorNeutralStrokeOnBrand2: #ffffff;
    --colorNeutralStrokeOnBrand2Hover: #ffffff;
    --colorNeutralStrokeOnBrand2Pressed: #ffffff;
    --colorNeutralStrokeOnBrand2Selected: #ffffff;
    --colorBrandStroke1: #0f6cbd;
    --colorBrandStroke2: #b4d6fa;
    --colorBrandStroke2Hover: #77b7f7;
    --colorBrandStroke2Pressed: #0f6cbd;
    --colorBrandStroke2Contrast: #b4d6fa;
    --colorCompoundBrandStroke: #0f6cbd;
    --colorCompoundBrandStrokeHover: #115ea3;
    --colorCompoundBrandStrokePressed: #0f548c;
    --colorNeutralStrokeDisabled: #e0e0e0;
    --colorNeutralStrokeInvertedDisabled: rgba(255, 255, 255, 0.4);
    --colorTransparentStroke: transparent;
    --colorTransparentStrokeInteractive: transparent;
    --colorTransparentStrokeDisabled: transparent;
    --colorNeutralStrokeAlpha: rgba(0, 0, 0, 0.05);
    --colorNeutralStrokeAlpha2: rgba(255, 255, 255, 0.2);
    --colorStrokeFocus1: #ffffff;
    --colorStrokeFocus2: #000000;
    --colorNeutralShadowAmbient: rgba(0, 0, 0, 0.12);
    --colorNeutralShadowKey: rgba(0, 0, 0, 0.14);
    --colorNeutralShadowAmbientLighter: rgba(0, 0, 0, 0.06);
    --colorNeutralShadowKeyLighter: rgba(0, 0, 0, 0.07);
    --colorNeutralShadowAmbientDarker: rgba(0, 0, 0, 0.2);
    --colorNeutralShadowKeyDarker: rgba(0, 0, 0, 0.24);
    --colorBrandShadowAmbient: rgba(0, 0, 0, 0.3);
    --colorBrandShadowKey: rgba(0, 0, 0, 0.25);
    --shadow2: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);
    --shadow4: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    --shadow8: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14);
    --shadow16: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
    --shadow28: 0 0 8px rgba(0, 0, 0, 0.12), 0 14px 28px rgba(0, 0, 0, 0.14);
    --shadow64: 0 0 8px rgba(0, 0, 0, 0.12), 0 32px 64px rgba(0, 0, 0, 0.14);
    --shadow2Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.25);
    --shadow4Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.25);
    --shadow8Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.25);
    --shadow16Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.25);
    --shadow28Brand: 0 0 8px rgba(0, 0, 0, 0.3), 0 14px 28px rgba(0, 0, 0, 0.25);
    --shadow64Brand: 0 0 8px rgba(0, 0, 0, 0.3), 0 32px 64px rgba(0, 0, 0, 0.25);
  }
}

.btn {
  app-region: no-drag;
  align-items: center;
  appearance: auto;
  background-color: var(--colorBrandBackground);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-family:
    'Segoe UI',
    'Segoe UI Web (West European)',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-width: 96px;
  outline: none;
  overflow: hidden;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  text-rendering: auto;
  transition:
    background 0.1s cubic-bezier(0.33, 0, 0.67, 1),
    border 0.1s cubic-bezier(0.33, 0, 0.67, 1),
    color 0.1s cubic-bezier(0.33, 0, 0.67, 1);
  vertical-align: middle;
  &.neutral {
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    border-color: var(--colorNeutralStroke1);
  }
}
.btn:hover {
  border-color: transparent;
  background-color: var(--colorBrandBackgroundHover);
  &.neutral {
    background-color: var(--colorNeutralBackground1Hover);
    color: var(--colorNeutralForeground1Hover);
    border-color: var(--colorNeutralStroke1Hover);
  }
}
.btn:focus {
  background-color: var(--colorBrandBackgroundPressed);
  &.neutral {
    background-color: var(--colorNeutralBackground1Pressed);
    color: var(--colorNeutralForeground1Pressed);
    border-color: var(--colorNeutralStroke1Pressed);
  }
}
.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--colorBrandBackground) !important;
}
.checkbox {
  app-region: no-drag;
  position: relative;
  cursor: pointer;
  .checkbox-ind {
    align-self: flex-start;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--fui-Checkbox__indicator--color);
    background-color: var(--fui-Checkbox__indicator--backgroundColor);
    border-color: var(--colorNeutralStrokeAccessible);
    border-style: solid;
    border-width: var(--strokeWidthThin);
    border-radius: var(--borderRadiusSmall);
    margin: 0;
    fill: currentcolor;
    pointer-events: none;
    font-size: 12px;
    height: 16px;
    width: 16px;
    svg {
      display: none;
    }
  }
  .checkbox-inn {
    box-sizing: border-box;
    cursor: inherit;
    height: 100%;
    margin: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: calc(16px + 2 * var(--spacingHorizontalS));
  }
  .checkbox-inn:checked + .checkbox-ind {
    --fui-Checkbox__indicator--color: var(--colorNeutralForegroundInverted);
    --fui-Checkbox__indicator--backgroundColor: var(
      --colorCompoundBrandBackgroundHover
    );
    border-color: var(--colorCompoundBrandBackgroundHover);
    svg {
      display: block;
    }
  }
}

.fui-Spinner__spinner {
  --fui-Spinner--strokeWidth: var(--strokeWidthThicker);
  position: relative;
  flex-shrink: 0;
  mask-image: radial-gradient(
    closest-side,
    transparent calc(100% - var(--fui-Spinner--strokeWidth) - 1px),
    white calc(100% - var(--fui-Spinner--strokeWidth)) calc(100% - 1px),
    transparent 100%
  );
  background-color: var(--colorBrandStroke2Contrast);
  color: var(--colorBrandStroke1);
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spinner;
  .fui-Spinner__spinnerTail {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    mask-image: conic-gradient(transparent 105deg, white 105deg);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: var(--curveEasyEase);
    animation-name: spinner-inner;
  }
  .fui-Spinner__spinnerTail::before,
  .fui-Spinner__spinnerTail::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: inherit;
    background-image: conic-gradient(currentcolor 135deg, transparent 135deg);
  }

  .fui-Spinner__spinnerTail::before {
    animation-name: spinner-before;
  }
  .fui-Spinner__spinnerTail::after {
    animation-name: spinner-after;
  }
}
@keyframes spinner-inner {
  0% {
    transform: rotate(-135deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(225deg);
  }
}

@keyframes spinner-before {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(105deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spinner-after {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a {
  color: var(--colorBrandForegroundLink);
}
a:hover {
  color: var(--colorBrandForegroundLinkHover);
}
.progress-bar {
  background: var(--colorBrandForeground1);
}
.input-div {
  app-region: no-drag;
  border: 1px solid var(--colorNeutralStroke1);
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  min-height: 32px;
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightRegular);
  line-height: var(--lineHeightBase300);
  background-color: var(--colorNeutralBackground1);
  border-bottom-color: var(--colorNeutralStrokeAccessible);
  gap: var(--spacingHorizontalXXS);
  border-radius: var(--borderRadiusMedium);
  transition: all .1s;
  input {
    align-self: stretch;
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0px;
    border-style: none;
    padding: 0 var(--spacingHorizontalM);
    color: var(--colorNeutralForeground1);
    background-color: transparent;
    outline-style: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  &::after {
    box-sizing: border-box;
    content: ' ';
    height: max(2px, var(--borderRadiusMedium));
    border-bottom-left-radius: var(--borderRadiusMedium);
    border-bottom-right-radius: var(--borderRadiusMedium);
    border-bottom: 2px solid var(--colorCompoundBrandStroke);
    clip-path: inset(calc(100% - 2px) 0 0);
    transition: transform 0.05s;
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    transform: scaleX(0);
  }
  &.active::after {
    transform: scaleX(1);
  }
  &.active {
    background-color: var(--colorNeutralBackground1Pressed);
    color: var(--colorNeutralForeground1Pressed);
    border-color: var(--colorNeutralStroke1Pressed);
  }
}
